.step3 {
	position: fixed;
	bottom: 0px;
	left: 1vmax;
	height: 5vmax;
}

.step3 button, .step3 input {
	padding: 1vmax;
	font-size: 1.2vmax;
	margin-left: 0.4vmax;
}

.step3 h1 {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 3vmax;
}

.step3 button.top-right, .step3 button.top-right-bottom {
	position: fixed;
	top: 10px;
	right: 10px;
	min-width: 180px;
}

.step3 button.top-right-bottom {
	top: calc(10px + 4.2vmax);
	min-width: 130px;
}